---
# Gammasite Production Apps
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./videos-vols.yaml
  - ../sources
  - ../base/hajimari.yaml
  - ../base/whoami.yaml
  - ./grafana
  - ./homeassistant-ext
  - ./influxdb
  - ./pg-cluster
  - ./frigate
