---
# Gammasite Production Apps
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./videos-vols.yaml
  - ../sources
  - ../base/hajimari.yaml
  - ../base/whoami.yaml
  - ./audiobookshelf
  - ./deluge
  - ./grafana
  - ./homeassistant-ext
  - ./influxdb
  - ./jellyfin
  - ./jellyseerr
  - ./nextcloud
  - ./prowlarr
  - ./radarr
  - ./sonarr
  - ./unpackerr
  - ./wizarr
  - ./pg-cluster
  - ./frigate
