---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: default
spec:
  values:
    replicas: 0
    persistence:
      enabled: true
      type: pvc
      size: 2Gi
