name: Lint Yaml

on:
  pull_request:
    branches:
      - main

jobs:
  yamllint:
    name: Check Yaml
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ibiqlik/action-yamllint@v3
